.job-container2 {
    display: flex;
    flex-wrap: wrap; 
    padding: 20px;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  
  .job-card2 {
    background-color:rgb(232, 228, 228);
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    color: black;
    width: 65%;
  }
  
  .job-header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .company-name2 {
    font-size: 1.5em;
    margin: 0;
  }
  
  .job-title2 {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .job-description2 {
    margin: 10px 0;
  }
  
  .job-tags2 {
    display: flex;
    flex-wrap: wrap;
  }
  
  .tag2 {
    background-color: white;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
  }
  
  .job-actions2 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  
  .company-name2 ::after2 {
    content: " - Applied";
    color: green;
  }
  @media (min-width:300px) and (max-width:768px) {
    .job-card2{
      width:90%
    }
  }